@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgba: 25, 60, 86, 1;
  --background-end-rgba: 0, 0, 0, 0.93;
  --theme-color: #f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgba: 255, 255, 255, 1;
    --background-end-rgba: 255, 255, 255, 1;
    --theme-color: #0a1c29;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--theme-color);
  box-sizing: border-box;
}
